[2015-01-08 18:27] txgruppi opened #1 "Icon not updating"
When I click on the reload button at the bottom-left corner and the commits go from 0 to 1 the icon is not updated, it stays red.

[2015-01-08 19:00] tadeuzagallo commented on #1
Can you please check which version you're using? It was fixed on [fa863de](https://github.com/tadeuzagallo/GithubPulse/commit/fa863deedd348baf776ea6281a0302c3aa76f69a) and released on v0.2.1

[2015-01-08 19:33] tadeuzagallo opened #2 "Make daily notifications optional"
Add `Remind me to commit` to the menu

[2015-01-09 10:20] txgruppi commented on #1
I have no idea, is there a way to see the version? I will update here.

[2015-01-09 10:20] #1 closed, assigned to tadeuzagallo

[2015-01-09 10:35] tadeuzagallo commented on #1
You can just find the app on finder quick look it and it'll show the version.

[2015-01-09 11:28] tadeuzagallo opened #3 "Show version on the app"
Show version on the right side of the bottom status bar.

[2015-01-09 13:56] andypiper opened #4 "Retina menubar icon?"
The menubar icon looks fuzzy on my Retina MBP... :disappointed:

[2015-01-09 15:25] tadeuzagallo commented on #4
Hey, thanks for pointing out! I really forgot that, I'll sheep it later today yet and I let you know!

[2015-01-09 17:51] #2 closed, assigned to tadeuzagallo

[2015-01-09 17:51] #3 closed, assigned to nobody

[2015-01-09 17:51] #4 closed, assigned to nobody

[2015-01-09 17:54] tadeuzagallo commented on #4
I just submitted a new version, it'd be great if you'd let me know if it worked later, because I don't have a rMBP to test it...
Thanks for contributing!

[2015-01-12 12:24] andypiper commented on #4
Looks great! thanks! :smile:

[2015-01-13 15:23] kiliankoe opened #5 "Crash after username entry"
Hi, love the app idea!

Unfortunately I'm getting a crash right after entering my username. I've attached a crash report from Console.app on Hastebin (it's prettier than pastebin^^).

http://hastebin.com/nexexeqixo.pl

[2015-01-13 15:28] kiliankoe opened #6 "Support for a dark menubar?"
Would it be possible to add a light icon for people using the dark menubar in Yosemite? It's currently rather hard to see ;)

![screen shot 2015-01-13 at 16 27 01](https://cloud.githubusercontent.com/assets/2625584/5723004/1565c502-9b41-11e4-9a7d-407e911fb5e7.png)

Otherwise, as previously stated in the other issue: Absolutely love the idea for this! :D

[2015-01-13 15:36] #5 closed, assigned to nobody

[2015-01-13 15:38] tadeuzagallo commented on #5
Hey, thank you so much for reporting, just released a fix on [v0.2.6](https://github.com/tadeuzagallo/GithubPulse/releases/tag/v0.2.6)

[2015-01-13 15:39] kiliankoe commented on #5
That was probably the fastest fix ever! Awesome!

[2015-01-13 16:19] #6 closed, assigned to nobody

[2015-01-13 16:22] tadeuzagallo commented on #6
Hey thanks again for the report and for the compliment!
Just released [v0.2.7](https://github.com/tadeuzagallo/GithubPulse/releases/tag/v0.2.7) with dark icons support! please let me know if it looks okay to you! :D

[2015-01-13 16:24] kiliankoe commented on #6
Looks fantastic, thank you very much! And you close issues far too fast :D

[2015-01-13 17:02] tadeuzagallo opened #8 "Create chrome extension"

[2015-01-13 18:40] mertkahyaoglu commented on #8
:+1:

[2015-01-13 22:24] kmarekspartz opened #10 "Beeminder integration"
https://www.beeminder.com/gitminder/

http://blog.beeminder.com/gitminder/

[2015-01-14 01:14] ljharb opened #11 "Layout is messed up with too many commits in graph"
Try putting in my username - because I have a couple particularly high-commit days, the graph seems to flow outside the region, and the dropdown from the menubar becomes scrollable.

[2015-01-14 01:28] tadeuzagallo commented on #11
Humm... I don't see it here...
![Here's what I see](https://cloud.githubusercontent.com/assets/764414/5732580/62679a9e-9b7b-11e4-89d7-902cdbf07f6b.png)
Can you attach a screenshot too? Also, you can try right click on the Github Pulse icon, it should refresh the WebView, so we can know if it's going to keep constantly happening or just happens sometimes...

[2015-01-14 01:30] ljharb commented on #11
![screen shot 2015-01-13 at 5 30 00 pm](https://cloud.githubusercontent.com/assets/45469/5732615/d49e8154-9b49-11e4-90e3-78efe133dcb0.png)

Right-clicking definitely fixed it, thanks!

I think it happened because I'd clicked it when I had 0 commits, and then I pushed 2, and clicked it again, and then it was messed up? Also perhaps the retina screen?

[2015-01-14 01:44] tadeuzagallo commented on #11
Humm, I see, but It shouldn't happen, I've done it before a lot of times during testing...
Looks like the size of the graph went mad, but makes no sense, because it's never updated.
Anyway I'll leave this open and look deeper into it as soon as I've finished the chrome extension to(day|morrow).

[2015-01-14 05:57] #8 closed, assigned to nobody

[2015-01-14 08:13] GiaoGiaoCat opened #14 "Can't building"
[code]

[2015-01-14 10:26] tadeuzagallo commented on #14
Did you manage to build it?

[2015-01-14 10:50] tadeuzagallo commented on #10
Hey, thanks for the idea!

But I think both apps have the same goal actually, what kind of integration did you think?

[2015-01-14 15:06] GiaoGiaoCat commented on #14
I can build it right now. I found that if someone want to build it, they need to open xcode and try to run and build the project at first. if not, `make osx` should be fail.

[2015-01-14 16:12] rafaelstz opened #15 "Layout break"
When the name is large breaking the layout.
![captura-de-tela-2015-01-14-as-13 43 38](https://cloud.githubusercontent.com/assets/610598/5741834/fcf5cd78-9bf4-11e4-8117-a4f5e9193c0f.png)

[2015-01-14 17:18] rafaell-lycan opened #16 "Create a github.io page of project."
Create a github.io page of project to divulge on a page.

We can use Jekyll or simple HTML for now.

[2015-01-14 17:43] rafaell-lycan opened #17 "[improvement] Integrate with Bitbucket"
Maybe add a option in menu bar to user add other account like [bitbucket](https://bitbucket.org/).

**API reference:** https://confluence.atlassian.com/x/IYBGDQ

But, in this case the name isn't makes sense.

[2015-01-14 17:44] tadeuzagallo commented on #17
+1

Great idea! I'll look into it later today!

[2015-01-14 17:45] tadeuzagallo commented on #15
Thanks for reporting!
It was fixed on #12, just hasn't been released yet...

[2015-01-14 17:45] #15 closed, assigned to nobody

[2015-01-14 17:53] rafaell-lycan opened #18 "[bug] Broken layout"
@tadeuzagallo please check this.

I'll try to fix that later, but no sure.

![captura de tela 2015-01-14 as 15 48 52](https://cloud.githubusercontent.com/assets/1516450/5744171/62808722-9c05-11e4-810c-1e81a58c9201.png)

[2015-01-14 18:03] tadeuzagallo commented on #18
Something similar have been reported on #11 but I haven't been able to reproduce yet...
It is a canvas element with fixed size, so it should happen. Really, it shouldn't...

Anyway, it's not a fix, but you can right click on the status bar icon, it'll reload the WebView and probably fix for now, so doesn't get stuck that way.

Did it just happen after your `commits today` went from `0` to `2`?

[2015-01-14 18:10] tadeuzagallo commented on #14
Humm, that's an actual bug so...
I'll have to fix at least the documentation, thanks for reporting!

[2015-01-14 18:19] #14 closed, assigned to nobody

[2015-01-15 13:45] tadeuzagallo opened #20 "Create Firefox Extension"

[2015-01-15 17:15] kmarekspartz commented on #10
It would be nice to send an alert when getting too close to derailing in beeminder, along with what the user would be charged.

[2015-01-16 07:30] GiaoGiaoCat opened #21 "redesign"
![artboard01](https://cloud.githubusercontent.com/assets/173622/5772966/6eda5628-9d96-11e4-9b26-21d20f8dedcf.png)
![artboard02](https://cloud.githubusercontent.com/assets/173622/5772967/6f0050da-9d96-11e4-845e-ab436e92e2e9.png)

Anybody like my design? here is the .sketch file https://dl.dropboxusercontent.com/u/244623/github%20pulse.sketch

Hope someone can pull a request to make the design to cs

[2015-01-16 09:09] octalmage opened #22 "GithubPulse crashes on open."
GithubPulse won't open for me :(

Here's my OS details:

![](https://cloudup.com/cqs9VRcwQJv+)

And here's the output:

[code]

Anyway, amazing idea for an app! I have an alarm to remind me to commit but this seems more elegant.

:+1:

[2015-01-16 09:59] tadeuzagallo commented on #21
Wow, very nice! Thanks!
If nobody's done it so far I'll push it myself later today!

[2015-01-16 10:15] tadeuzagallo commented on #22
Hey, thanks for reporting, I'm glad you liked the app!
Honestly, I'm not so sure what's causing it and I can't test it in your OS' version, but I've tried to fix it.

If you please could try [this build](https://github.com/tadeuzagallo/GithubPulse/raw/fix-crash-yosemite-beta/dist/GithubPulse.zip) and tell me if it's fixed for you I'd appreciate!

[2015-01-16 12:07] rafaell-lycan commented on #21
@wjp2013 I draw something yesterday too.

[2015-01-16 12:10] rafaell-lycan commented on #18
@tadeuzagallo the last version 0.2.8 broken in native, but in Chrome it's ok.

What's happening? O.O

[2015-01-16 12:11] rafaell-lycan commented on #16
Maybe @wjp2013 can help-me =)

[2015-01-16 12:13] rafaell-lycan opened #23 "[improvement] Create an update helper."
When a new version is released, alert the user about it.

(We can use Node.js for do that, or Pusher (free mode) )

Porcorntime use it.

[2015-01-16 12:24] tadeuzagallo commented on #16
I was going to suggest right that after finishing updating the layout!

If you feel like sparing some time, your help would be much appreciated! :+1:

[2015-01-16 12:25] tadeuzagallo commented on #23
@txgruppi was supposed to implement that...

We were thinking just to check https://api.github.com/repos/tadeuzagallo/GithubPulse/tags for new releases...

[2015-01-16 12:25] tadeuzagallo commented on #18
What kind of broken?

[2015-01-16 12:29] rafaell-lycan commented on #16
Nice =)

[2015-01-16 12:30] rafaell-lycan commented on #18
The same problem with the Graph.

[2015-01-16 12:53] txgruppi commented on #23
I can work on it only on Monday.
On Jan 16, 2015 12:25 PM, "Tadeu Zagallo" notifications@github.com wrote:

[2015-01-16 14:05] tadeuzagallo commented on #18
I think this might be happening because the canvas is the root view of the react component, I'll try wrapping it on another div and add a key to it and release on the next version

[2015-01-16 14:43] rafaell-lycan opened #24 "[improvement] Create tests"
Create tests and integrates with [Travis](https://travis-ci.org) and/or [Code Climate](https://codeclimate.com).

[2015-01-16 15:27] rafaell-lycan commented on #23
@txgruppi if I can help you with something, tell me =)

[2015-01-16 16:36] octalmage commented on #22
Unfortunately it's still crashing, I'll take a look and see if I can figure anything out!

[2015-01-16 17:01] tadeuzagallo commented on #21
I released it on the [experimental branch](https://github.com/tadeuzagallo/GithubPulse/tree/experimental/dist), if you guys wan't to check it out first.

[2015-01-16 17:01] tadeuzagallo commented on #11
I'm closing it here and tracking it on #18.

[2015-01-16 17:01] #11 closed, assigned to nobody

[2015-01-16 17:03] tadeuzagallo commented on #18
@rafaell-lycan  I've tried to fix it altogether with the design improvements on the [experimental branch](https://github.com/tadeuzagallo/GithubPulse/tree/experimental/dist), if you'd please try it out and check if it still crashes for you that'd be much appreciated!

[2015-01-16 17:05] tadeuzagallo commented on #22
Which version of Github Pulse are you running?

Since you are still running the beta release of Yosemite it could be some Swift feature that has changed or wasn't implemented at the time. It's a long shot, but it's all I can think about since no one else has reported it.

[2015-01-16 17:45] rafaell-lycan commented on #18
@tadeuzagallo the font-family it's like Times? Yeah now it's ok but the font is strange.

[2015-01-16 17:48] tadeuzagallo commented on #18
Damn it, I totally forgot to embed the font! haha
I'll fix it right away!
On Fri Jan 16 2015 at 3:45:48 PM Rafaell Lycan notifications@github.com
wrote:

[2015-01-16 17:54] rafaell-lycan commented on #18
@tadeuzagallo just wait to release this version. For now I think it's better make this fix in 0.2.9 with others stuffs, and in 0.3.0 maybe some others awesome features =)

[2015-01-16 19:26] tadeuzagallo commented on #18
I just updated it, again on the [experimental branch](https://github.com/tadeuzagallo/GithubPulse/tree/experimental/dist), thanks for helping out!
The version is 0.3.0 because of the new layout, in order to be compliant with semver.org

[2015-01-16 19:32] oscarmcm commented on #16
I can help if anyone need @rafaell-lycan @tadeuzagallo

[2015-01-16 19:57] oscarmcm commented on #18
Some texts need to be adjusted @tadeuzagallo
![image](https://cloud.githubusercontent.com/assets/2553459/5783328/7b3c91a6-9d87-11e4-94a6-f8f5a9331bbe.png)

[2015-01-16 21:29] rafaell-lycan commented on #18
@oscarmcm I'm doing this fix. @tadeuzagallo you or someone take this?

[2015-01-16 21:40] rafaell-lycan commented on #16
@oscarmcm I created a basic structure with [Jekyll](http://jekyllrb.com/). I don't know if this is to much, but for now it's ok.

I keep drawing a layout in Photoshop and I will put here this weekend.

If you want to help, maybe tomorrow we can do it.

[2015-01-16 22:01] oscarmcm commented on #16
@rafaell-lycan Yeah, jekyll is a good option, but we can use Pelican or simple html, I think that Jekyll is more useful if you want to build a blog with github, but it is still a good choice :smile:

I'm using Jekyll in some other projects  where I Collaborate, so... lets go, make the things happen.

Perfect, I'm waiting tomorrow :+1:

[2015-01-17 00:11] tadeuzagallo commented on #16
That looks promising! Thank you guys! :+1:

[2015-01-17 00:16] tadeuzagallo commented on #18
That had been fixed after v0.2.8, but the new layout came out and it never got released...
I'll move v0.3.0 from experimental to master and it should be ok!

[2015-01-17 02:17] GiaoGiaoCat commented on #21
cool :+1:

[2015-01-17 02:19] GiaoGiaoCat commented on #23
Agree with @tadeuzagallo

[2015-01-17 02:59] rafaell-lycan commented on #16
No problem @tadeuzagallo, just pay us a beer (and bacon) after that :P

[2015-01-17 03:22] GiaoGiaoCat commented on #16
:laughing: In fact, i am a ruby programmer not a designer.

Tks @oscarmcm @rafaell-lycan :+1:

[2015-01-17 04:11] #21 closed, assigned to nobody

[2015-01-17 05:10] tadeuzagallo commented on #18
I'm closing it for now since v0.3.0 appears to have fixed it and is already available on master.
Ping me if you see it again and I'll reopen!

/cc @ljharb

[2015-01-17 06:01] octalmage commented on #22
I just tried v0.3.0 and it's still crashing. I know it's hard to troubleshoot when you can't reproduce, so I'll take a look when I have some time! It could also be my Xcode version (using a beta version aswell).

[2015-01-17 06:44] ljharb commented on #18
Thanks, manually updated (when's the Sparkle auto-update system coming?) and I'll let you know if it reoccurs

[2015-01-17 11:28] dorian-marchal commented on #20
Good idea ~

[2015-01-17 11:50] rafaell-lycan commented on #16
@tadeuzagallo , I think in something like this.

What you think? It's simple I know, but I want a feedback.

![github-pulse](https://cloud.githubusercontent.com/assets/1516450/5788724/48bd8e90-9e2e-11e4-858d-cca0817561cb.jpg)

[2015-01-17 12:20] rafaell-lycan commented on #18
Yeah, I want that too.

[2015-01-17 14:31] tadeuzagallo commented on #16
Nice! just missing the icon on the "What is Github Pulse?" section.
If you need any artwork it is in the `resources` folder, and the fonts are inside `javascript/fonts`.
Thanks again for the help! :smiley:

[2015-01-17 15:03] oscarmcm commented on #16
Amazing! Nice and clean @rafaell-lycan I will make a basic setup of Jekyll project in my local computer using
- Bower for packages
- Grunt for automated task
- Yeoman for generators

and after all we can develop the site, in a easy(sh) mode

Btw I think that this is the most simple structure:
- Sass or Vanilla CSS
- Vanilla JavaScript instead of CoffeeScript
- Vendor CSS with autoprefixer
- HTML5

[2015-01-17 16:43] ljharb commented on #18
This still happens to me on `v0.3.0` - although now it's a little different.
![screen shot 2015-01-17 at 10 43 25 am](https://cloud.githubusercontent.com/assets/45469/5789544/b44ab424-9e35-11e4-96a8-5f6271385527.png)

[2015-01-17 17:00] rafaell-lycan commented on #16
@oscarmcm I make a setup in jekyll and I'll make a PR for the project.

Something about the technologies:
- Bower for packages;
- Grunt for tasks;
- Vanilla JS (I really don't like CoffeeScript);
- Pure CSS, no pre-processor to do that.

Currently I thinking if need make this on Jekyll, for now I make some HTML;

[2015-01-17 17:06] oscarmcm commented on #16
@rafaell-lycan perfect, let me know when you do the PR for the project to clone the repository and so begin to help.

Maybe at this moment, I think that we only use HTML, but in a future, I believe that is necessary move this to Jekyll.

[2015-01-17 17:10] oscarmcm commented on #18
This still happens on v0.3.0 I have the same issue that @ljharb

[2015-01-17 18:43] tadeuzagallo commented on #18
Really, how come that it never happened to me?!
I compile and recompile it hundreds of times everyday... I'm reopening and will try again to fix it.

[2015-01-17 19:11] ljharb commented on #18
@tadeuzagallo are you on a non-retina mac? I'm on a Retina mac, and that almost certainly can affect your webview's CSS.

[2015-01-17 19:15] oscarmcm commented on #18
@tadeuzagallo @ljharb yeah! I have a retina mac, maybe this is the problem, when react render the layout in the webview.

[2015-01-17 19:16] tadeuzagallo commented on #18
@jlharb That should be it! Since @rafaell-lycan is also on o rMBP and I'm
not...
I'm looking into ways of simulating a retina display.
Thanks for the great catch!

On Sat Jan 17 2015 at 5:11:50 PM Jordan Harband notifications@github.com
wrote:

[2015-01-17 21:17] #18 closed, assigned to nobody

[2015-01-17 21:23] tadeuzagallo commented on #18
@ljharb was right! Thanks every body for helping out, I'll release it really soon.

TL;DR: The way I was using Chart.js was doubling the size of the canvas on every update

Long explanation:
Chart.js checks if it's retina display on the constructor, and if it is, multiplies the size of the canvas per the screen pixel ratio. Every time the commits changes I created a new instance of Chart.js, so it

[2015-01-17 23:18] rafaell-lycan commented on #18
@tadeuzagallo I like to use [amCharts](http://www.amcharts.com/), if you want, try it.

[2015-01-18 02:12] rafaell-lycan commented on #16
@tadeuzagallo create a branch called gh-pages please.

Att,

[2015-01-18 02:12] rafaell-lycan commented on #16
You can see the landing page [here](http://rafaell.cc/GithubPulse/) or the source [here](https://github.com/rafaell-lycan/GithubPulse/tree/gh-pages)

[2015-01-18 02:32] oscarmcm commented on #16
@rafaell-lycan Nice, the simple html looks good :+1:

[2015-01-18 02:40] GiaoGiaoCat commented on #16
@rafaell-lycan It is neat! . :+1:

[2015-01-18 02:57] rafaell-lycan commented on #16
@oscarmcm I'm almost drunk now, the only way to have extra creativity :P

I'm not as good as the designer @wjp2013 haha

@wjp2013 if you can, send me some images of the application in your new layout? Like in the "What" section.

[2015-01-18 03:00] oscarmcm commented on #16
@rafaell-lycan maybe we can add fancy animations to the site :wink:

[2015-01-18 13:46] GiaoGiaoCat commented on #16
@rafaell-lycan With pleasure. I am chinese and It's time for me to go to bed. I will focus on these images when i wake up. :laughing:

[2015-01-18 14:48] rafaell-lycan commented on #16
@wjp2013 I'm brazilian, and I went to sleep after 3am :P

[2015-01-19 06:08] GiaoGiaoCat commented on #16
![artboard2](https://cloud.githubusercontent.com/assets/173622/5796530/8977d4ce-9fe4-11e4-8fa4-dcaf257c5a22.png)
![artboard3](https://cloud.githubusercontent.com/assets/173622/5796531/89ae9aae-9fe4-11e4-849d-92af6e056ba1.png)

sketch file: https://dl.dropboxusercontent.com/u/244623/github%20pulse.sketch

[2015-01-20 02:36] tadeuzagallo commented on #23
Hey everybody, I implemented a hackish version updater that fetches Github directly.
I've tested it quite a lot, but would appreciate any feedback... In order to make things easier, I updated a compiled fake old version to the [experimental branch](https://github.com/tadeuzagallo/GithubPulse/tree/experimental/dist)

The expect behavior is: When you open the app there should be an :warning: besides

[2015-01-20 09:50] txgruppi commented on #23
@tadeuzagallo you can't wait for any ideia do come true. hahuhuahuahuahua

I will test it.

[2015-01-20 10:38] tadeuzagallo commented on #23
@txgruppi Sorry man, I'm kinda compulsively developing while waiting to move.... Hehehe

[2015-01-20 17:00] rafaell-lycan commented on #16
Thanks @wjp2013 , You can send me the login page too? =)

[2015-01-20 17:15] tadeuzagallo commented on #16
Just one comment, I think it should include the icon and the arrow on the `What is GithubPulse?` section for it to make sense.

[2015-01-20 17:28] rafaell-lycan commented on #16
Why?

[2015-01-20 18:08] tadeuzagallo commented on #16
Because the icon is the center of the project... It's the icon that alerts you that you haven't commited

[2015-01-20 23:25] #23 closed, assigned to nobody

[2015-01-20 23:27] tadeuzagallo commented on #23
Well... Since everything seems to work I merged it on master and released it on [v0.3.3](https://github.com/tadeuzagallo/GithubPulse/releases/tag/v0.3.3)

/cc @ljharb

[2015-01-21 01:47] rafaell-lycan commented on #23
Dafuck 3.3? o.O

[2015-01-21 01:49] tadeuzagallo commented on #23
https://github.com/tadeuzagallo/GithubPulse/tags

[2015-01-21 11:08] rafaell-lycan opened #26 "Add a creative commons license."
Add a creative commons license.

Select one on http://creativecommons.org/

[2015-01-21 11:16] rafaell-lycan commented on #16
@wjp2013 send me the first image please?

http://rafaell.cc/GithubPulse/

@tadeuzagallo explain me later about the icon alerts, etc.

[2015-01-23 08:30] GiaoGiaoCat commented on #16
@rafaell-lycan

![artboard 3](https://cloud.githubusercontent.com/assets/173622/5871761/1d41bc98-a31d-11e4-9417-eac2036bc9ed.png)

[2015-01-23 18:17] ngocphamm opened #27 "Font looks ugly on Chrome for Mac, on external display"
I don't know why but it looks super ugly (to me) on Chrome Canary on Mac, on an external display. It's fine on the retina display, though.

Mac: 10.10.1
Canary: 42.0.2285.0

![screen shot 2015-01-23 at 1 12 43 pm](https://cloud.githubusercontent.com/assets/395123/5879950/e7d9a66c-a301-11e4-9db8-c6fa8ae5d864.png)

[2015-01-23 23:28] mikepqr opened #29 "Doesn't show stats from commits to private repos"
Is there some way to add authentication so GithubPulse shows stats from commits to private repositories (which are hidden to unauthenticated users)?

[2015-01-24 01:35] tadeuzagallo commented on #29
Yeah, I've thought about that, it actually works on the chrome extension if you're logged on github on chrome.

But as I was thinking I thought if it'd actually be a good thing or not, as the main idea of project is to contribute to the open source community...

Anyway, in order to work on OS X maybe we could add a place on config so the user could set his token, I'll think about that.

[2015-01-24 19:14] kevinjalbert commented on #29
+1 for this feature.

[2015-01-26 01:55] caarlos0 commented on #29
I think it should be for OOS only. What's the point to commit everyday on private repos?

[2015-01-26 01:56] caarlos0 commented on #27
pretty normal here...

![screen shot 2015-01-25 at 11 56 08 pm](https://cloud.githubusercontent.com/assets/245435/5894413/c2d5dba4-a4ed-11e4-9727-4168e42e7545.png)

[2015-01-26 10:11] rafaell-lycan commented on #29
+1

[2015-01-26 12:08] ngocphamm commented on #27
Was that on an external display?

[2015-01-26 16:36] caarlos0 commented on #27
Don't know.. I don't usually use an external display...

[2015-01-26 16:37] ngocphamm commented on #27
As I reported it happens on an external display.

[2015-01-26 16:38] ngocphamm commented on #27
Changed the title so it's clear.

[2015-01-26 16:44] tadeuzagallo commented on #27
@ngocphamm Sorry, I hadn't answered because I don't have a rMBP, it's already been hard to track a bug on a previous issue...

If do want to help me fix that, you could inspect the popup of the extension, change the font to helvetica and tell me if it looks fine...

Everything other than the popup is rendering fine? Because the graph resolution seems to be wrong as well...

[2015-01-26 16:48] ngocphamm commented on #27
Errr. I'm sorry. It seems that this happens to all extension popup. I have µBlock and ZenHub and they are also ugly, even though I think it's probably less, maybe because of the different fonts. So it's probably a problem with my setup, or just Chrome (Canary).

[2015-01-26 16:48] #27 closed, assigned to nobody

[2015-01-26 16:58] kevinjalbert commented on #29
I would think either add the ability for private repos to be accounted for in the OS X version, or remove it from the chrome extension. Otherwise there is a larger difference between the two version.

Again, I'm for the inclusion of private repos. Could even do a toggle, or preferences to count private repos.

[2015-01-26 17:04] ngocphamm commented on #27
Yes, here it is. A bug of Chromium: https://code.google.com/p/chromium/issues/detail?id=324748

[2015-01-26 20:43] tadeuzagallo commented on #29
You're right, I'll look into how to do that on chrome and try to normalize it on the next version!

[2015-01-27 17:28] tadeuzagallo opened #30 "Sometimes the popover opens on a wrong position"
I forgot to take an screenshot and still don't know how exactly to reproduce it, but it's happened to me a few times...

[2015-01-27 17:57] johnknaack opened #31 "List of users being followed"
I created a list of the users you are following. It shows their commits today and current streak. This is something I wanted to use to help keep track of my team and push them to make public commits before they leave the office.

![following_list](https://cloud.githubusercontent.com/assets/1598370/5923655/0d32be20-a60a-11e4-8b86-4c0d668494a5.gif)

I still have some clean up work for things like pa

[2015-01-27 18:15] rafaell-lycan commented on #31
@johnknaack can I improve this design? Or maybe work with @wjp2013 to make a new visual for this?

Nice job.

[2015-01-27 18:27] johnknaack commented on #31
Sure thing. The last thing I would consider myself is a designer. Let me know if there is anything I can provide.

[2015-01-27 19:02] tadeuzagallo commented on #31
Wow, that looks nice!
I don't think the layout is bad, but if they can improve it, even better!

The only problem with the pagination is that we won't be able to sort... I don't what's the best solution... Maybe load them all at the first load, cache it, and update just the visible ones later, on demand.

About the code, I'm glad you could understand my very hacky `Utils` file! hahaha
I just think

[2015-01-27 19:30] johnknaack commented on #31
Awesome, I'll work on making those changes tonight.

[2015-01-28 02:14] GiaoGiaoCat commented on #31
@rafaell-lycan I think the UI is good enough, i like it.

[2015-01-28 05:34] johnknaack commented on #31
Ok, removed the async dependency, changed `UserLine` to use `classSet`, pulled full set of users instead of pagination, and added chrome extension support.

Let me know if you see anything that should be changed/updated.

[2015-01-28 15:51] tadeuzagallo commented on #31
I'm closing it here since #32 has already been merged and will be release on the next version.

[2015-01-28 15:51] #31 closed, assigned to nobody

[2015-01-29 03:52] louy2 commented on #20
+1

[2015-01-30 06:22] johnknaack opened #36 "Github api lock out for users with large following lists"
I've run into a few issues with the app freezing and then refusing to start while testing users with large following lists (500+ users). This is mostly due to the fact that I'm disabling the caching system while testing. It might be worth while to ensure that it fails more gracefully or enforce an API call limit timer to ensure it doesn't happen to users.

[2015-01-30 18:09] johnknaack opened #37 "OS X Widget is counting private commits"
My OS X widget is currently counting private commits. It's happening in older versions also (v0.3.2). I'm not sure how the WebView has gotten authenticated to return the private repos in the SVG. I'm also not sure how to clear this so it only pulls the public version of the SVG. Is anyone else having this issue?

![2015-01-30_10-08-17](https://cloud.githubusercontent.com/assets/1598370/5980697/f9f

[2015-01-30 18:12] johnknaack commented on #37
It seems to now be sharing authentication with Safari. If I sign out of GitHub on Safari the widget returns to only showing public commits. It seems like new behavior though has I've been signed in to GitHub on Safari since I started using the widget.

[2015-01-30 18:12] tadeuzagallo commented on #37
If you login on Github from Safari it'll show your prive commits, the same goes for the Chrome extension...

[2015-01-30 18:19] johnknaack commented on #37
I guess I just didn't notice that happening the last few days or I just haven't been making many commits to my private repos. What a shame, I'm surprised Safari shares cookies with WebViews in other apps; Chrome extensions I can understand. It seems like Safari sharing cookies with any app that has a WebView could be exploited.

[2015-01-30 18:21] tadeuzagallo commented on #37
It's not actually the WebView, since the request is made on the native app... but I don't know if it makes it better or worse...

[2015-01-30 18:22] johnknaack commented on #37
Oh well, I guess I will just stay signed out in Safari for now. I assume this issue can be closed and/or combined with the issue for the chrome extension.

[2015-01-30 18:30] #37 closed, assigned to nobody

[2015-01-30 19:00] tadeuzagallo commented on #16
The page is already online on [tadeuzagallo.com/GithubPulse](http://tadeuzagallo.com/GithubPulse)

Thank you all! :D

[2015-01-30 19:00] #16 closed, assigned to nobody

[2015-01-30 19:02] tadeuzagallo commented on #29
Well, I have at least normalized it, private commits are not shown at all.
I'll try to add the option to insert a token to properly load it later, if anybody feels like doing it, be my guest.

[2015-01-30 19:19] tadeuzagallo commented on #36
The whole problem is that we can't fetch a single ordered page...
I think for now we'll just have to paginate it...

[2015-02-03 11:51] tadeuzagallo opened #38 "Chrome Extension Icon not updating automatically"

[2015-02-04 15:19] rafaell-lycan opened #39 "Load more in Follow list"
In "users I'm following" set a limit (like 20) and add a button to load some others.

The load about other user are damn slow.

I don't know if this is a better idea, but maybe resolve the problem about load that info.

[2015-02-05 13:46] tadeuzagallo commented on #39
Duplicate of #36

[2015-02-05 13:46] #39 closed, assigned to nobody

[2015-02-12 07:06] relekang opened #40 "Timezone support"
Every morning GithubPulse will show commits from the last day. (I am in Central European Time)

[2015-02-12 10:47] rafaell-lycan commented on #40
@tadeuzagallo we can use moment.js? Or the app gets the time from user computer?

[2015-02-12 11:04] tadeuzagallo commented on #40
I don't think it's possible, it's how Github works... If you login on Github at that time you'll probably see the same...
Anyway, if you commit at some time, like in the morning, while your stats are still on the last day, it'll update and show the commit on the current day.

[2015-02-18 00:38] ljharb opened #41 "Streak for users I'm following doesn't work past a year"
https://github.com/getify/ has 423 but shows up as 366, and https://github.com/jdalton has 573 but shows up as 365.

[2015-02-18 00:38] ljharb commented on #41
Also, how do I refresh my followers list in the client? I followed somebody new and right clicked the menu but it's not showing them.

[2015-02-18 10:31] tadeuzagallo commented on #41
Well, about the number of commits, it happens on your profile as well, if you have more than 365 commits, the problem is that github just shows the chart for the ongoing year, and I have no idea how we can get the older commits... If you have any insight let me know.

As about the refresh, there's no way right now, there are a few issues with the following page, most of then caused because I wante

[2015-02-18 18:35] ljharb commented on #41
Are you scraping the chart, or is there an API? If scraping, the "current streak" (span.contrib-number) is the accurate number.

(I think both sorting and searching the user list would be good)

[2015-02-20 11:59] battaglr commented on #29
I love this because it doesn't show the commits made on private repos. If you —or anybody— ever add that feature, please, do it in a way we can choose not to see that.

_Great app!_

[2015-02-23 11:06] tadeuzagallo commented on #41
I hadn't actually thought about that... haha
I'm scrapping just the chart (https://github.com/:username/contributions), but that could be a better ideia.
About the sort, the problem is that some people are following like 900 people, which means ~9 requests to get the list of users + 900 requests to get the streak per user.

[2015-02-23 11:07] #40 closed, assigned to nobody

[2015-02-23 11:07] #38 closed, assigned to nobody

[2015-02-23 12:40] relekang commented on #40
I understand, anyways thanks for looking into it :)

[2015-02-23 18:22] ljharb commented on #41
That seems problematic only for the initial pull - once you've got the list, then you know who the most important/likely people are to scrape frequently, which are the ones at the top of the list of non-zeroes sorted by streak length. The zeroes could be scraped much more rarely.

For the initial load, you could certainly stagger those 900 requests over a longer length of time, and provide a text

[2015-02-23 21:14] tadeuzagallo opened #43 "Just remember if the person actually has a streak going on"
Now that I haven't been so active I can see that it's slightly annoying lol
Either way I don't want to deactivate it...

[2015-03-29 20:45] wfalkwallace commented on #29
+1 for the ability to show private repos.

[2015-03-29 23:11] tadeuzagallo commented on #29
Sorry guys, I have really been full of work, haven't had enough time to build that :disappointed:

Something that I really would like to implement is #43, and it's pretty straightforward...

Maybe if some of you guys feel like doing it :smiley:

[2015-04-07 17:50] jansauer commented on #29
:+1:  as long as it is an option

[2015-04-08 00:51] ljharb commented on #41
Any update on this?

[2015-04-08 14:36] tadeuzagallo commented on #41
No, nothing yet :disappointed:
I've been super busy, sorry, but I'll try to find some time to work on it... but if you wan't to take that on the mean time... you're more than welcome :)

[2015-04-29 02:46] wfalkwallace opened #44 "npm install error"
I'm getting `peerinvalid` npm errors around nib and stylus-loader when I try to run `npm install` - any advice?

[2015-05-26 22:21] rafaell-lycan commented on #30
+1

[2015-05-26 22:21] rafaell-lycan commented on #43
+1

[2015-05-26 22:22] rafaell-lycan commented on #26
@tadeuzagallo ?

[2015-05-26 22:22] rafaell-lycan commented on #20
+1

[2015-05-26 22:22] rafaell-lycan commented on #24
@tadeuzagallo

[2015-05-26 22:22] rafaell-lycan commented on #10
+1

[2015-05-27 23:25] tadeuzagallo commented on #24
I haven't had enough time to work on any side project lately, but if you feel like adding a few tests that'd be awesome! :smiley:

[2015-06-09 19:11] DarthMike commented on #29
+1 on the feature

[2015-08-12 04:24] z3t0 opened #45 "Crashes on Open"
Hi, similar to #22

GithubPulse crashes on open, it was working until today but now it only shows up on the menu for 3 seconds then disappears. Have redownloaded as well.

Will try to compile myself.

Here is the crash report of the release version.

[code]

[2015-08-12 04:29] z3t0 commented on #45
Restarting seems to have solved the problem. Will leave this open for a few days then I will close it if the problem is no longer apparent

[2015-08-27 20:30] #22 closed, assigned to nobody

[2015-08-27 20:34] #45 closed, assigned to nobody

[2015-08-27 20:43] rafaell-lycan commented on #45
@tadeuzagallo :clap:

[2015-08-28 01:11] z3t0 commented on #45
@tadeuzagallo Thanks for closing this. I forgot about it

[2015-08-28 05:19] octalmage commented on #26
Why would he add a creative common license? The project is under the MIT license.

https://github.com/tadeuzagallo/GithubPulse/blob/master/LICENSE

[2015-08-28 05:25] octalmage opened #46 "Reduce icon size."
Love the app! Got a new Macbook and it's working for me (#22).

While it wasn't working I made my own version of the app, and I found that making the icon 20x20px matches the style of other icons:

![](https://cloudup.com/i5Y_x26AQRg+)
My app on is the right.

Just a suggestion!

[2015-09-02 15:41] bbanbury commented on #29
+1 for ability to show private repos.

[2015-09-08 12:11] rafaell-lycan commented on #26
You're right @octalmage . I'll close this issue.

[2015-09-08 12:11] #26 closed, assigned to nobody

[2015-09-09 18:39] xanderdunn opened #47 "Rename to "contributions today""
GithubPulse showed that I had made 1 commit today, but I was pretty sure I hadn't made any commits.  Indeed, I looked online and saw that I had simply opened an issue on a project.  These also count as contributions that keep the streak going.  This should be renamed to "contributions today" rather than "commits today".

[2015-09-27 15:51] ljharb commented on #41
ping :-)

[2015-10-25 23:05] tadeuzagallo commented on #41
Hey, a little bit late but... I tried to fix it on v0.3.9, let me know if you see any issues.

[2015-10-25 23:08] tadeuzagallo commented on #47
Yep, I tried that, but sadly it doesn't fit and it looks super bad with two lines :disappointed:

I'll try to think of a better way of displaying that.

[2015-10-25 23:10] tadeuzagallo commented on #46
(sorry for the delay)

I tried it when I was drawing the logo, but it seemed kinda hard to see what the logo actually was, but feel free to send a PR if you want to, and I can try it.

[2015-10-26 05:06] ljharb commented on #41
I don't seem to be able to update past `v0.3.8`. I click the "restart and apply" button and it just keeps telling me I'm on that version. I was able to update from `v0.3.7` to `v0.3.8` tho.

[2015-10-26 07:29] tadeuzagallo commented on #41
That's bad... I didn't change anything related to that though, maybe
something changed in El Capitan, I'll take a look.
On Mon, 26 Oct 2015 at 05:06, Jordan Harband notifications@github.com
wrote:

[2015-10-26 08:29] ljharb commented on #41
I'm still on Yosemite.

[2015-10-26 22:03] tadeuzagallo commented on #41
The good news are that I think I've fixed it, the bad news are that I screwed up before :(
I think I've generate the app before bumping the version, so you might have already updated, plus the download code was broken, which means that everyone might get stuck in that state ( :( again).

Let me know how it goes for you.

[2015-10-27 03:08] ljharb commented on #41
I was able to successfully update to `v0.3.10` - this appears to fix my issue, thanks!

update: i actually had to delete and reinstall the one that was stuck on v0.3.8 :-(

[2015-10-27 03:08] #41 closed, assigned to nobody

[2016-01-11 13:44] tanepiper commented on #29
+1 for private repos too - or more specifically DON'T remove it from the Chrome version.  I appreciate other's remarks here about it only showing open source, but at the end of the day not all of us have time to contribute to open source every day or even every week - but why should we then be punished for not having a streak when we have a good week at work?

A better option might be to have an o

[2016-05-05 14:04] rafaell-lycan commented on #46
@octalmage I haven't this problem. Looks good to me.

<img width="181" alt="screen shot 2016-05-05 at 11 03 30 am" src="https://cloud.githubusercontent.com/assets/1516450/15045475/0a46db28-12b1-11e6-8ccc-c772246474b7.png">

@tadeuzagallo if is it really necessary I could do it.

[2016-05-05 14:05] rafaell-lycan commented on #47
@tadeuzagallo I'll try to figure out how do that without make it ugly.

[2016-05-05 14:38] octalmage commented on #46
Yeah I think it just looked small next to the other icons. It may be slightly bigger, but it's fine! 20x20 is really small. I'm going to close this! Keep up the great work.

[2016-05-05 14:38] #46 closed, assigned to nobody

[2016-06-22 21:02] rafaell-lycan commented on #44
@wfalkwallace you still having the same error?

[2016-06-22 21:07] rafaell-lycan commented on #29
@tadeuzagallo now you can show the private commits from other repos on Github.

Settings >> Profile >> [Section] Contributions:
[ x ] Include private contributions on my profile

If you agree, just close this issue.

[2016-06-22 21:12] rafaell-lycan commented on #17
@tadeuzagallo https://confluence.atlassian.com/bitbucket/use-the-bitbucket-cloud-rest-apis-222724129.html

[2016-06-22 21:14] rafaell-lycan commented on #30
@tadeuzagallo you still having this problem?

[2016-06-23 00:58] wfalkwallace commented on #44
gave up long ago, sorry 😿

[2016-06-23 00:58] #44 closed, assigned to nobody

[2016-07-28 06:22] z3t0 commented on #29
@rafaell-lycan but it doesnt seem to have any effect on GithHub Pulse? Atleast for me Pulse still doesnt see anything private

[2016-10-07 09:00] JoeNyland opened #52 "Why does the menubar not dim when a display is not active?"
This isn't a big issue, but it's an issue nonetheless.

I have two displays on my Mac and when one screen has focus, the other's menu bar is dimmed, along with any app icons that are contained within it.

The icon for GithubPulse is not dimmed as shown in this screen shot.

![screen shot 2016-10-07 at 9 41 39 am](https://cloud.githubusercontent.com/assets/7666402/19184272/3bdbe4b6-8c74-11e6-8677-5

[2017-03-26 07:05] sivakumar-kailasam opened #53 "Streaks no longer show up on the OS X menu app"
I had tried with multiple users' profiles but it still seems broken. The chart does show the last 7 days' stats but not the streak.

<img width="404" alt="screenshot 2017-03-26 12 29 51" src="https://cloud.githubusercontent.com/assets/604117/24329303/efe5ee62-121f-11e7-9c7e-f76c39bd3ee0.png">

[2018-02-10 00:26] phatblat opened #54 "Use current Time Zone instead of GMT"
I'm currently 7 hours behind GMT and when 17:00 rolls around I've noticed GitHub Pulse seems to think that it's a new day.

- menu bar icon changes to red <img width="39" alt="screen shot 2018-02-09 at 5 21 54 pm" src="https://user-images.githubusercontent.com/28851/36055993-d5c3d8e2-0dbd-11e8-8a75-1894b28d7621.png">
- new dot appears at zero in the graph, ahead today's dot (count of "1" below)
-

[2018-07-21 04:04] #10 closed, assigned to nobody

[2018-08-22 10:30] denizaygundev commented on #53
@tadeuzagallo

I am also experiencing this issue and although it seems that development for this app has stopped it would be great to see the app continued.

![image](https://user-images.githubusercontent.com/7983695/44458572-997a3780-a5fe-11e8-9d9c-b19d17c7b6b1.png)

[2019-05-31 14:01] #53 closed, assigned to nobody